.react-calendar {
	width: 500px;
}

.react-calendar__tile {
	padding-bottom: 30px;
}

.react-calendar__navigation {
	height: 80px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background: #1cc7c1 !important;
}

.react-calendar__tile--active {
	background: #1cc7c1;
}
